body {
    background-color:beige
}

font {
    font-family: Arial, sans-serif;
}

h1 {
    color: black; 
    text-decoration: underline;
    text-align: center;
}


p{
    color: blue
 font: size: 70px;
}

